<ion-view title="ConfirmBooking" id="confirmBookingPage">
    <div class="bar bar-header bar-stable">
        <button class="button button-clear button-positive" ng-click="back()">Back</button>
        <h1 class="title">Confirm Booking</h1>
    </div>

    <div class="list">
        <div class="item">
            <span class="item-label">123 Fake St. Derpvill, ON A1B2C3</span>
            <span class="item-note">Address</span>
        </div>
        <div class="item">
            <span class="item-label">ABCD 123</span>
            <span class="item-note">Car</span>
        </div>
        <div class="item">
            <span class="item-label">1:00AM 01/02/2013</span>
            <span class="item-note">From</span>
        </div>
        <div class="item">
            <span class="item-label">12:00PM 01/02/2013</span>
            <span class="item-note">To</span>
        </div>
        <div class="item">
            <span class="item-label">$4.50<span class="muted">/hour</span></span>
            <span class="item-note">Price</span>
        </div>
    </div>
    <div class="icon ion-check"></div>
    <div class="controls">
        <button class="button button-positive button-full button-flex button-squish">
            <div>Pay</div>
            <div class="muted-light">with credit card</div>
        </button>
        <button class="button button-default button-full button-flex button-squish">
            <div>Skip</div>
            <div class="muted-light">payment processed manually</div>
        </button>
    </div>
</ion-view>
