<ion-view title="Create Booking" id="createBookingPage">
	<div class="card list">
		<div class="item item-divider">
			<h2>Please select your duration</h2>
		</div>
		<a href="" class="item" ion-datetime-picker am-pm ng-model="request.start" ng-class="{'item-assertive': request.start.error}" ng-change="updateNextRange">
			<p>{{request.start | date: "MMM-dd-yyyy h:mm a"}}</p>
			<p class="muted">Start</p>
		</a>
		<a href="" class="item" ion-datetime-picker am-pm ng-model="request.end" ng-class="{'item-assertive': request.end.error}" ng-change="updateNextRange">
			<p>{{request.end | date: "MMM-dd-yyyy h:mm a"}}</p>
			<p class="muted">End</p>
		</a>
	</div>

	<div class="card button button-block" ng-class="{'button-calm': range_is_available === null && options === null, 'button-energized': range_is_available === null && options, 'button-balanced': range_is_available === true, 'button-assertive': range_is_available === false}" ng-click="checkAvailability()">Check Availability</div>
	<div class="card button button-block button-positive" on-tap="createBooking()" ng-disabled="!range_is_available">Create Booking</div>

	<div class="card list" ng-show="options">
		<div class="item item-divider item-text-wrap">
			<p>This time is not available, please choose one of the following available time slots or try again</p>
		</div>
		<div class="item" ng-repeat="option in options" ng-click="setOption(option)">
			<p>{{option.start | date: "MMM-dd-yyyy h:mm a"}}</p>
			<p class="muted">-</p>
			<p>{{option.end | date: "MMM-dd-yyyy h:mm a"}}</p>
		</div>
	</div>

</ion-view>