<ion-view title="CreateBooking" id="createBookingPage">
	<div class="bar bar-header bar-stable">
		<h1 class="title">Create Booking</h1>
	</div>
	<form>
		<h4>
			<center>Enter the duration you would like:</center>
		</h4>
		<div class="availability-input padding-bottom">
			<div class="item" ion-datetime-picker am-pm ng-model="request.start" ng-class="{'item-assertive': request.start.error}" ng-change="updateNextRange">
				{{request.start | date: "MM/dd/yyyy H:mm"}}
			</div>
			<div class="item" ion-datetime-picker am-pm ng-model="request.end" ng-class="{'item-assertive': request.end.error}" ng-change="updateNextRange">
				{{request.end | date: "MM/dd/yyyy H:mm"}}
			</div>
		</div>
		<button class="button button-full button-balanced" ng-click="checkAvailability()">Check Availability</button>
		<div class="range-is-available" ng-show="range_is_available === true">
			<i class="icon ion-checkmark balanced"></i>
		</div>
		<div class="range-is-available" ng-show="range_is_available === false">
			<i class="icon ion-close assertive"></i>
		</div>
		<div class="list" ng-show="options">
			<div class="item item-divider multi">
				<div class="item-label">This time is not available. Here are the next available time slots:</div>
			</div>
			<div class="item" ng-repeat="option in options" ng-click="setOption(option)">
				<div class="item-label">
					{{option.start | date: "MM/dd/yyyy H:mm"}}
				</div>
				<div class="item-label">
					{{option.end | date: "MM/dd/yyyy H:mm"}}
				</div>
			</div>
		</div>
	</form>
	<div class="controls">
		<button class="button button-assertive button-clear button-full" on-tap="cancelBooking()">Cancel</button>
		<button class="button button-positive button-full" on-tap="createBooking()" ng-disabled="!range_is_available">Create Booking</button>
	</div>
</ion-view>