<ion-view title="CreateBooking" id="createBookingPage">
    <form>
        <h4>Next available booking:</h4>
        <div class="availability-preview">
            <div class="preview-from">
                1:00AM 01/02/2013
            </div>
            <div class="divider">
                ~
            </div>
            <div class="preview-to">
                12:00PM 01/02/2013
            </div>
        </div>
        <h4>Enter the duration you would like:</h4>
        <div class="availability-input">
            <button class="button">1:00AM 01/02/2013</button>
            <button class="button">1:00AM 01/02/2013</button>
        </div>
    </form>
    <div class="booking-price-preview">
        <!--<h4>Price</h4>-->
        <h1>$4.50</h4>
    </div>
    <div class="controls">
        <button class="button button-positive button-submit">Create Booking</button>
    </div>
</ion-view>