<ion-view title="ResourceDetails" id="resourceDetailsPage">
    <div class="bar bar-header bar-stable">
        <button class="button button-clear button-positive" on-tap="back()">Back</button>
        <h1 class="title">Details</h1>
        <button class="button button-calm" on-tap="searchCarsInResource()">Cars</button>
    </div>

    <div class="list">
        <!--<div class="item item-divider">Details</div>-->
        <div class="item">
            <span class="item-label">123 Fake St. Derpvill, ON A1B2C3</span>
            <span class="item-note">Address</span>
        </div>
        <div class="item">
            <span class="item-label">Some user defined description that is super long</span>
            <span class="item-note">Description</span>
        </div>
        <div class="item">
            <span class="item-label">$4.50<span class="muted">/hour</span></span>
            <span class="item-note">Price</span>
        </div>

        <div class="item item-divider">Availability</div>
        <div class="item item-toggle">
            <span class="item-label">Generic</span>
            <label class="toggle toggle-positive">
                <input type="checkbox" />
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-plus"></i>
            <span class="item-label">
                Add
                <span class="muted">an availability range</span>
            </span>
            <i class="icon ion-chevron-right"></i>
        </div>
        <div class="item item-icon-left item-icon-right">
            <i class="icon ion-minus"></i>
            <span class="item-label">
                Remove
                <span class="muted">an availability range</span>
            </span>
            <i class="icon ion-chevron-right"></i>
        </div>
        <ion-content class="item">
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
            <div class="item muted">
                <span class="item-label">1:00AM 01/02/2013</span>
                <span>~</span>
                <span class="item-label">12:00PM 01/02/2013</span>
            </div>
        </ion-content>
    </div>
</ion-view>