<ion-view id="resourceDetailsPage">
    <ion-nav-title>{{resource.name}}</ion-nav-title>
	<div class="card list">
		<div class="item item-divider">
			<h2>Info</h2>
		</div>
		<div class="item item-text-wrap">
			<p>{{resource.location.address}}</p>
			<p class="muted">Address</p>
		</div>
		<div class="item item-text-wrap">
			<p>{{resource.price.perHour | currency }}</p>
			<p class="muted">$/hour</p>
		</div>
	</div>
	<div class="card list">
		<div class="item item-divider">
			<h2>Book this spot</h2>
		</div>
		<a href="" class="item" ion-datetime-picker am-pm ng-model="request.start" ng-class="{'item-assertive': request.start.error}" ng-change="updateNextRange">
			<p href="">{{request.start | date: "MMM-dd-yyyy h:mm a"}}</p>
			<p class="muted">Start</p>
		</a>
		<a href="" class="item" ion-datetime-picker am-pm ng-model="request.end" ng-class="{'item-assertive': request.end.error}" ng-change="updateNextRange">
			<p>{{request.end | date: "MMM-dd-yyyy h:mm a"}}</p>
			<p class="muted">End</p>
		</a>
		<a href="" class="item item-text-wrap blue-fill">
			<p class="white">Create booking</p>
		</a>
		<a href="" class="item item-text-wrap">
			<p class="blue">Create recurring booking</p>
		</a>
	</div>
</ion-view>