<ion-view title="Reservations" id="reservations">
  <ion-content class="padding">
      <ion-list>
        <!-- add a section header -->
        <ion-item class="item-divider">Upcoming Reservations</ion-item>
        <!-- iterate thru each item in the list, use $index as item identifier -->
        <ion-item ng-repeat="booking in upcomingBookings">
            Lot   : {{booking.lot.name}}</br>
            ({{booking.lot.location.address}})</br></br>
            Spot  : {{booking.spot.name}}</br>
            Start : {{booking.start}}</br>
            End   : {{booking.end}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>