<ion-view title="Resources" id="resourcesPage">
    <div class="bar bar-header bar-stable">
        <div class="button-bar">
            <a class="button button-positive">Lots</a>
            <a class="button">Spots</a>
        </div>
    </div>
    <ion-content>
        <div class="list">
            <div class="item multi">
                <span class="">Spot name 1</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 2</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 3</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 4</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 5</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 6</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 7</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 8</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 9</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 10</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 11</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
            <div class="item multi">
                <span class="">Spot name 12</span>
                <span class="muted">Address st. City, ON A1B2C3</span>
            </div>
        </div>
    </ion-content>
</ion-view>