<ion-view title="SearchCar" id="searchCarPage">
	<div class="bar bar-header bar-stable">
		<button class="button button-clear button-positive" on-tap="back()">Back</button>
		<h1 class="title">Search</h1>
	</div>
	<div class="list">
		<div class="item">
			<label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="carSearch" placeholder="License">
            </label>
			<button class="button button-positive icon-right ion-search" on-tap="findCar(carSearch)"></button>
		</div>
		<div class="item muted" ng-if="carNotFound">
			Car not found
		</div>
		<div class="result" ng-if="car">
			<div class="item item-divider">
				Found car!
			</div>
			<div class="item">
				<span class="item-label">{{car.license.toUpperCase()}}</span>
				<span class="item-note">License</span>
			</div>
			<h4 class="muted">Next booking in this spot</h4>
			<div class="availability-preview empty" ng-if="!car.nextBooking">
				<div class="padding">This car has no more booking in this spot</div>
			</div>
			<div class="availability-preview" ng-if="car.nextBooking">
				<div class="preview-from">
					1:00AM 01/02/2013
				</div>
				<div class="divider">
					~
				</div>
				<div class="preview-to">
					12:00PM 01/02/2013
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<button class="button button-positive button-full" ng-if="car" on-tap="createBooking()">Create Booking</button>
	</div>
</ion-view>