<ion-view title="SearchCar" id="searchCarPage">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Search</h1>
    </div>
    <div class="list">
        <div class="item">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="License">
            </label>
            <button class="button button-positive icon-right ion-search"></button>
        </div>
        <div class="item item-divider">
            Found spot!
        </div>
        <div class="item">
            <span class="item-label">ABCD 123</span>
            <span class="item-note">License</span>
        </div>
    </div>
    <div>
        <h4 class="muted">Next booking in this spot</h4>
        <div class="availability-preview">
            <div class="preview-from">
                1:00AM 01/02/2013
            </div>
            <div class="divider">
                ~
            </div>
            <div class="preview-to">
                12:00PM 01/02/2013
            </div>
        </div>
    </div>
</ion-view>