<ion-view title="Settings" id="settingsPage">
  <div class="loader" data-loading></div>
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list3">
      <ion-item class="item-avatar" id="settings-list-item1">
        <img src="img/ionic.png">
        <h2>{{profile.name}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="settings-list4">
      <ion-item id="settings-list-item8">Credit Cards</ion-item>
      <ion-item id="settings-list-item5">License Plates</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="settings-list4">
      <ion-item id="settings-list-item6" ng-click="manage()">Switch to Attendant View</ion-item>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <button id="settings-button4" class="button button-positive  button-block">Sign Out</button>
  </ion-content>
</ion-view>